<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Welcome to Jay Leno's Garage</h1>
    <nav>
      <ul>
        <li><a href="/garage">Garage</a></li>
        <li><a href="/cars">Cars</a></li>
      </ul>
    </nav>
  </header>

</body>
</html>