<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>New Car Page</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cars">Car list</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form method="POST" action="/cars">
      <input type="text" placeholder="make" name="make">
      <input type="text" placeholder="model" name="model">
      <input type="number" placeholder="year" name="year">
      <button>Submit</button>
      
    </form>
  </main>
</body>
</html>